PORT=5000
MONGODB_URI=mongodb+srv://USUARIO:PASSWORD@cluster0.xxxxx.mongodb.net/velora_trading?retryWrites=true&w=majority
JWT_SECRET=GENERA_UN_STRING_ALEATORIO_DE_64_CARACTERES_AQUI
JWT_EXPIRES_IN=7d
NODE_ENV=production
FRONTEND_URL=https://velora.vercel.app,https://www.tudominio.com
